<mat-toolbar color="primary">
  <button mat-button routerLink="/" class="title">Strona z ogłoszeniami</button>
  <span class="spacer"></span>
  <button mat-raised-button routerLink="/login" aria-label="Sign in button" *ngIf="!loggedUser">
    <span>Zaloguj się</span>
  </button>
  <button mat-button routerLink="/admin" aria-label="Profile button" *ngIf="loggedAdmin" matTooltip="Panel admina">
    <mat-icon>dashboard</mat-icon>
    <span class="responsive-text">Panel admina</span>
  </button>
  <button mat-button routerLink="/profile" aria-label="Profile button" *ngIf="loggedUser" matTooltip="Moje ogłoszenia">
    <mat-icon>person</mat-icon>
    <span class="responsive-text">Moje ogłoszenia</span>
  </button>
  <button mat-icon-button (click)="logout()" aria-label="Sign out button" *ngIf="loggedUser" matTooltip="Wyloguj się">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
