<mat-toolbar color="primary">
  <button mat-button routerLink="/" class="title">Strona z ogłoszeniami</button>
  <span class="spacer"></span>
  <button mat-raised-button routerLink="/login" aria-label="Sign in button" *ngIf="!loggedUser">
    <span>Zaloguj się</span>
  </button>
  <button mat-button routerLink="/admin" aria-label="Profile button" *ngIf="loggedAdmin">
    <mat-icon>dashboard</mat-icon>
    <span>Panel admina</span>
  </button>
  <button mat-button routerLink="/profile" aria-label="Profile button" *ngIf="loggedUser">
    <mat-icon>person</mat-icon>
    <span>Moje ogłoszenia</span>
  </button>
  <button mat-icon-button (click)="logout()" aria-label="Sign out button" *ngIf="loggedUser">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
