<div class="announcement-page">
  <div class="announcement-list" *ngIf="announcementPage.totalElements > 0">
    <h2>Wszystkie ogłoszenia</h2>
    <p *ngIf="filterModel.category">z kategorii: {{filterModel.category}}</p>
    <div class="announcement-item" *ngFor="let announcement of announcementPage.content" [routerLink]="'/announcement/' + announcement.id">
      <div class="picture">
        <img *ngIf="!announcement.photoUrl" src="../../assets/files/template.png" alt="Photo template">
        <img *ngIf="announcement.photoUrl" [src]="'../../assets/photos/' + announcement.photoUrl" alt="Announcement photo">
      </div>
      <div class="main-info">
        <div class="title">{{announcement.title}}</div>
        <span class="spacer"></span>
        <div class="city" *ngIf="announcement.place.city">{{announcement.place.city}}</div>
      </div>
      <div class="price" *ngIf="announcement.price">{{announcement.price}} zł</div>
    </div>
    <mat-paginator [length]="announcementPage.totalElements"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20, 50]"
                   (page)="pagination($event)"
                   *ngIf="announcementPage.totalElements >= 5">
    </mat-paginator>
  </div>
  <div class="announcement-list" *ngIf="announcementPage.totalElements == 0">
    <h2 style="text-align: center">Brak ogłoszeń dla podanych parametrów</h2>
  </div>
</div>
