.profile-page {
  width: 100%;
  background: #ffffff;
  min-height: calc(100vh - 64px);
}

.profile-tabs {
  width: 60%;
  margin: 0 auto;
}

.announcements-table {
  margin: 1em;
  width: calc(100% - 2em);
}

.actions-column {
  width: 15%;
}

.empty-announcements-info {
  text-align: center;
  margin-top: 1em;
}
