<div class="profile-page">
  <div class="profile-tabs">
    <mat-tab-group mat-align-tabs="center" #tabs>
      <mat-tab label="Ogłoszenia">
        <h2 *ngIf="myAnnouncements.length == 0" class="announcements-info">Nie masz jeszcze dodanych ogłoszeń.</h2>
        <h2 *ngIf="myAnnouncements.length != 0" class="announcements-info">Moje ogłoszenia</h2>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 announcements-table" *ngIf="myAnnouncements.length > 0">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Tytuł </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Cena </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="actions-column"></th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button aria-label="Edit button" (click)="edit(row)">
                <mat-icon>create</mat-icon>
              </button>
              <button mat-icon-button aria-label="Delete button" (click)="delete(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-tab>
      <mat-tab label="Nowe ogłoszenie">
        <div class="form-add-announcement">
          <form (ngSubmit)="f.form.valid && save(f)" #f="ngForm" novalidate>
            <mat-form-field>
              <mat-label>Tytuł</mat-label>
              <input matInput
                     [(ngModel)]="newAnnouncement.title"
                     name="title"
                     required
                     minlength="6"
                     maxlength="50"
                     #title="ngModel">
              <mat-hint align="end">{{title.value.length}} / 50</mat-hint>
            </mat-form-field>
            <div class="message" *ngIf="f.submitted && title.invalid">
              <span class="error" *ngIf="title.errors.required">Title is required!</span>
              <span class="error" *ngIf="title.errors.minlength">Title must be at least 6 characters</span>
            </div>

            <mat-form-field appearance="standard">
              <mat-label>Kategoria</mat-label>
              <mat-select [(ngModel)]="newAnnouncement.category" name="category" [compareWith]="objectComparisonFunction">
                <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="standard" *ngIf="places.length == 0">
              <mat-label>Województwo</mat-label>
              <mat-select [(ngModel)]="newAnnouncement.place.voivodeship" name="voivodeship" [compareWith]="objectComparisonFunction">
                <mat-option *ngFor="let voivodeship of voivodeships" [value]="voivodeship" (onSelectionChange)="setVoivodeship($event)">{{voivodeship.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="standard" *ngIf="places.length != 0">
              <mat-label>Miasto</mat-label>
              <mat-select [(ngModel)]="newAnnouncement.place" name="place" [compareWith]="objectComparisonFunction">
                <mat-option (click)="clearVoivodeship()" class="clear-voivodeship">Wybierz inne województwo</mat-option>
                <mat-divider></mat-divider>
                <mat-option *ngFor="let place of places" [value]="place">{{place.city}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Opis</mat-label>
              <textarea matInput #description maxlength="4000" [(ngModel)]="newAnnouncement.description"
                        placeholder="Podaj więcej informacji na temat ogłoszenia" name="description"></textarea>
              <mat-hint align="end">{{description.value.length}} / 4000</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Cena</mat-label>
              <input type="number" min="0.00" step="0.01" matInput [(ngModel)]="newAnnouncement.price" name="price">
            </mat-form-field>
            <button mat-raised-button color="primary" *ngIf="!editAnnouncement">Dodaj ogłoszenie</button>
            <button mat-raised-button color="primary" *ngIf="editAnnouncement">Edytuj ogłoszenie</button>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="Profil">
        <div class="form-profile">
          <h2>Edytuj swój profil</h2>
          <form (ngSubmit)="fProfile.form.valid && updateProfile(fProfile)" #fProfile="ngForm" novalidate>
            <mat-form-field>
              <mat-label>Imię</mat-label>
              <input matInput [(ngModel)]="user.firstName" name="firstName" required maxlength="30" #firstName="ngModel">
              <mat-hint align="end">{{firstName.value.length}} / 30</mat-hint>
            </mat-form-field>
            <div class="message" *ngIf="fProfile.submitted && firstName.invalid">
              <span class="error" *ngIf="firstName.errors.required">First name is required!</span>
            </div>

            <mat-form-field>
              <mat-label>Nazwisko</mat-label>
              <input matInput [(ngModel)]="user.lastName" name="lastName" required maxlength="30" #lastName="ngModel">
              <mat-hint align="end">{{lastName.value.length}} / 30</mat-hint>
            </mat-form-field>
            <div class="message" *ngIf="fProfile.submitted && lastName.invalid">
              <span class="error" *ngIf="lastName.errors.required">Last name is required!</span>
            </div>

            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput [(ngModel)]="user.email" name="email" required email #email="ngModel">
            </mat-form-field>
            <div class="message" *ngIf="fProfile.submitted && email.invalid">
              <span class="error" *ngIf="email.errors.required">Email is required!</span>
              <span class="error" *ngIf="email.errors.email">Email must be a valid email address!</span>
            </div>

            <mat-form-field>
              <mat-label>Numer telefonu</mat-label>
              <input placeholder="+48........." matInput [(ngModel)]="user.phoneNumber"
                     name="phoneNumber" #phoneNumber="ngModel">
              <mat-hint align="end">{{phoneNumber.value.length}} / 12</mat-hint>
            </mat-form-field>

            <button mat-raised-button color="primary">Edytuj profil</button>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
