.profile-page {
  width: 100%;
  background: #ffffff;
  min-height: calc(100vh - 64px);
}

.profile-tabs {
  width: 60%;
  margin: 0 auto;

  @media (max-width: 1024px) {
    width: 80%;
  }

  @media (max-width: 640px) {
    width: 100%;
  }
}

.announcements-table {
  margin: 1em;
  width: calc(100% - 2em);
}

.actions-column {
  width: 15%;
}

.announcements-info {
  text-align: center;
  margin-top: 1em;
}

.form-add-announcement, .form-profile {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (max-width: 1024px) {
    width: 80%;
  }

  @media (max-width: 640px) {
    width: 100%;
  }

  mat-form-field, button, .upload-file {
    width: calc(100% - 2em);
    margin: 1em;
  }

  h2 {
    text-align: center;
    margin-top: 1em;
  }
}

.message {
  margin: 0 1em;
  color: gray;
  font-size: 12px;

  .error {
    color: #e74c3c;
  }

  .success {
    color: #2ecc71;
  }
}
