.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-announcement {
  width: 60%;
  margin: 0 auto;

  > mat-form-field {
    width: 37%;
    margin: 3em 1.5%;
  }

  > button {
    width: 17%;
    margin: 3em 1.5%;
  }

  @media (max-width: 1024px) {
    width: 80%;
  }

  @media (max-width: 640px) {
    width: 100%;
  }

  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;

    > mat-form-field, > button {
      width: 90%;
      margin: 1em 5%;
    }
  }
}

.clear-voivodeship {
  background-color: #efefef;
}

.announcement-random {
  width: 100%;
  background: #efefef;

  h2 {
    text-align: center;
    font-size: 32px;
    margin: 1em 0;
  }
}

.announcements {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 0 auto;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.example-card {
  margin: 0.5em;
  cursor: pointer;

  @media (max-width: 1024px) {
    margin: 0.5em 0;
  }
}

.title-card {
  height: 60px;
  font-size: 18px;
}

.card-place {
  font-size: 14px;
}

.card-time {
  font-size: 12px;
  color: #ababab;
}
