<div class="details-page">
  <div class="announcement-details-page">
    <h1>{{activeAnnouncement.title}}</h1>
    <div class="picture">
      <img src="../../../assets/files/template.png" alt="Photo template">
    </div>
    <div class="description">
      <h2 *ngIf="activeAnnouncement.price">Cena: {{activeAnnouncement.price}} zł</h2>
      <h2 *ngIf="activeAnnouncement.description">Opis</h2>
      <p>
        {{activeAnnouncement.description}}
      </p>
      <mat-divider></mat-divider>
      <div class="info-about-announcement">
        <div class="category">{{activeAnnouncement.category.name}}</div> |
        <div class="place">{{activeAnnouncement.place.city}}</div> |
        <div class="time">{{activeAnnouncement.dateTime}}</div>
      </div>
    </div>
    <div class="user-info">
      <h2>Użytkownik</h2>
      <div class="name">{{activeAnnouncement.user.firstName}} {{activeAnnouncement.user.lastName}}</div>
      <mat-divider *ngIf="activeAnnouncement.user.phoneNumber"></mat-divider>
      <div class="phone-number" *ngIf="activeAnnouncement.user.phoneNumber">Numer telefonu: {{activeAnnouncement.user.phoneNumber}}</div>
      <mat-divider></mat-divider>
      <div class="email">Email: {{activeAnnouncement.user.email}}</div>
    </div>

    <div class="contact-form">
      <h2>Napisz do sprzedającego</h2>

      <form (ngSubmit)="f.form.valid && sendEmail(f)" #f="ngForm" novalidate>
        <mat-form-field>
          <mat-label>Imię i nazwisko</mat-label>
          <input matInput
                 [(ngModel)]="contactMail.name"
                 name="name"
                 required
                 minlength="3"
                 maxlength="50"
                 #name="ngModel">
        </mat-form-field>
        <div class="message" *ngIf="f.submitted && name.invalid">
          <span class="error" *ngIf="name.errors.required">Imię i nazwisko jest wymagane!</span>
          <span class="error" *ngIf="name.errors.minlength">Pole powinno zawierać conajmniej 3 znaki</span>
        </div>

        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input matInput
                 [(ngModel)]="contactMail.from"
                 name="from"
                 required
                 email
                 minlength="3"
                 #from="ngModel">
        </mat-form-field>
        <div class="message" *ngIf="f.submitted && from.invalid">
          <span class="error" *ngIf="from.errors.required">Email jest wymagany!</span>
          <span class="error" *ngIf="from.errors.minlength">Pole powinno zawierać conajmniej 3 znaki</span>
          <span class="error" *ngIf="from.errors.email">Email musi być poprawny</span>
        </div>

        <mat-form-field appearance="standard">
          <mat-label>Treść wiadomości</mat-label>
          <textarea matInput
                 [(ngModel)]="contactMail.messageFromUser"
                 name="message"
                 required
                 minlength="3"
                 #message="ngModel"></textarea>
        </mat-form-field>
        <div class="message" *ngIf="f.submitted && message.invalid">
          <span class="error" *ngIf="message.errors.required">Wiadomość jest wymagana!</span>
          <span class="error" *ngIf="message.errors.minlength">Pole powinno zawierać conajmniej 3 znaki</span>
        </div>

        <button mat-raised-button color="primary">Wyślij wiadomość</button>

        <div class="message">
          <span class="error" *ngIf="sendEmailResponse == false">Mamy mały problem i wiadomość nie została wysłana. Spróbuj ponownie później lub wybierz inny kanał komunikacji ze sprzedającym</span>
          <span class="success" *ngIf="sendEmailResponse">Wiadomość została wysłana</span>
        </div>
      </form>
    </div>
  </div>
</div>
